<ul class="header nav justify-content-center py-2">
  <li class="nav-item">
    <a  class="nav-link active" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/post-article" routerLinkActive="active" ariaCurrentWhenActive="page">Post Articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about-us" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
  </li>
</ul>
