<div class="navbar nav navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="article-link" [routerLink]="item.link" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact : item.exact }" *ngFor='let item of navigation'>
        <a class="nav-link"> {{ item.name }} </a>
      </li>
    </ul>
  </div>
  <!-- <a routerLink="/oops" routerLinkActive="active"> 404 </a> -->
</div>
