<div class="container-fluid">
  <div class="row" id="article">
      <div class="col-md-12 poster-image">
        <img *ngIf="article?.poster_image" [src]="article?.poster_image" width="100%">
        <img *ngIf="!article?.poster_image" src="../../../../assets/img/default-poster-image.jpg" width="100%">
      </div>
      <div class="container">
          <h3>{{article?.title}}</h3>

          <div><label class="sr-only" for="author">Author: {{article?.author}}</label></div>

          <div>{{article?.description}}</div>
      </div>
  </div>
</div>