<div class="container-fluid">
  <div class="row h-50">
    <div class="col-sm-12 aboutus-content" >
<h4>Aboutus</h4>
      <div class="mx-auto aboutus" >
        <p>An "About Us" Page is where you reveal your brand story, business values, mission, and experiences.

        Now the question is: why would you want to share all this information and make it appealing? The answer is simple: you want to tell your audience who you are, show them what you are good at, and tell them you are worthy of their trust.

        Think for a moment: would you rather purchase from a business you know nothing about, or would you go for somebody with a friendly face shared on their About page and a story that you find exciting? The latter one, right?</p>
        <p>A great About Us page not just portrays your story, qualities and provides an insight on how your business started, but it also helps you sell. When visitors become familiar with your story and connect with it, they're probably going to purchase from you. </p><p>A well-planned About Us page can do this!

        Nevertheless, creating an "About Us" page that precisely represents your organization can perhaps feel challenging than one might expect. You can consider several things you want your visitors to know, from your history to your achievements to your business values, yet filling all of that information on a single page can be overwhelming for you as well as your visitors.

        So how can you design a compelling "About Us" page that will show your visitors who you are and what you do? Indeed, there's no one-size-fits-all solution; however, there's no harm in looking at what other successful organizations are doing.

        So, have a look at these "About Us" page examples of organizations who got it right.</p>

       <p> 1. webdew
        webdew has done a commendable job of personifying their team and organization while also narrating their story.

        The top of the page features a friendly image of the company's employees, and as you scroll, you will find their values, goals, journey, details about the founders, the team, and the culture. Along the way, webdew continues to share photos of its executives and all other team members, completely humanizing its brand by putting various faces to its name.

        The organization has also done a fabulous job of establishing trust by including elements of social proof (i.e., media, client testimonials, partner logos, etc.).
       </p>
      </div>
      </div>
  </div>
</div>
