<div class="container">
  <h3 class="text-center">Add Article</h3><br>

  <form (ngSubmit)="handleSubmit(form.value, form.valid)" #form="ngForm" novalidate class="col-12 post-articles text-center">
    <div class="form-row align-items-center mb-2 mr-sm-2 ">
      <label class="sr-only col-form-label" for="Title">Title:</label>
      <input type="text" class="form-control input-group" name="title" placeholder="Title" required
        [ngModel]="article?.title"
        #name = "ngModel"
      >
    </div>
    <div *ngIf="name.errors && name.dirty" class="alert alert-danger">
      This is required
    </div>

    <div class="form-row align-items-center mb-2 mr-sm-2 ">
      <label class="sr-only col-form-label" for="Author">Author:</label>
      <input type="text" class="form-control input-group" name="author" placeholder="Author" required
        [ngModel]="article?.author"
        #author = "ngModel"
      >
    </div>
    <div *ngIf="author.errors && author.dirty" class="alert alert-danger">
      This is required
    </div>

    <div class="form-row align-items-center mb-2 mr-sm-2 ">
      <label class="sr-only col-form-label" for="Description">Description:</label>
      <textarea type="text" class="form-control input-group" name="description" placeholder="Description" required
        [ngModel]="article?.description"
        #description = "ngModel"
      ></textarea>
    </div>
    <div *ngIf="description.errors && description.dirty" class="alert alert-danger">
      This is required
    </div>

    <div class="form-row align-items-center mb-2 mr-sm-2 ">
      <label class="sr-only col-form-label" for="thumbnail_image">Thumbnail image:</label>
      <input
        name="thumbnail_image"
        id="thumbnail_image"
        type="file"
        class="form-control input-group"
        [ngModel]="article?.thumbnail_image"
        #thumbnail_image = "ngModel"
        (change)="onFileChange($event)" accept="image/*" >
    </div>

    <div class="form-row align-items-center mb-2 mr-sm-2 ">
      <label class="sr-only col-form-label" for="poster_image">Poster image:</label>
      <input
        name="poster_image"
        id="poster_image"
        type="file"
        class="form-control input-group"
        [ngModel]="article?.poster_image"
        #poster_image = "ngModel"
        (change)="onFileChange($event)" accept="image/*" >
    </div><br><br>
    <button type="submit" [disabled]="form.invalid" class="btn btn-primary mb-2">Add Article</button>
  </form>
</div>

